[Desktop Entry]
Name=Trinity Launcher
Exec=trinchete
Icon=com.trench.trinity.launcher
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
